Title: Sass Labs
Layout: layout_labs
Template: template_labs

.grid-container
  #wrapper.grid-8.grid-prefix-2.grid-suffix-2
    #wrapper-inner
      %header
        %h1
          Pulse
          %span Sass Labs
        
        %p With pulse we get to play with CSS3's animation and keyframe features.
      
      .canvas
        %span(class="pulse dark" href="#")
          %span