#fusion_ad {
  margin-top: 30px;
  text-align: center;

  .fusionimg {
    display: block;
    margin: 0 auto 8px;
    text-align: center;
  }

  .fusiontext {
    color: $reversed-link-color;
    font-weight: normal;
    font-size: 13px;
    line-height: 13px !important;
    text-decoration: none;

    &:hover {
      color: $reversed-link-hover-color;
      text-decoration: underline;
    }
  }

  .fusionpowered {
    color: $reversed-text-color;
    display: block;
    font-size: 11px;
    text-decoration: none;

    &:hover { color: $reversed-link-hover-color; }

    span {
      font-weight: bold;
      text-transform: uppercase;
    }
  }
}
