#fusion_ad {
  display: none;
}

@media #{$large-up} {
  #fusion_ad {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: block;
    font-family: $sans-serif;
    font-size: 11px;
    width: 130px;

    img {
      display: block;
      height: 100px;
      width: 130px;
    }

    a {
      color: #939399;
      text-decoration: none;
      &:first-of-type {
        display: block;
      }
    }

    a.fusion-backlink {
      position: absolute;
      top: -22px;
      font-weight: 700;
      text-transform: uppercase;
    }

    a.fusiontext {
      display: block;
      font-family: $serif;
      line-height: 1.4;
      margin-top: 7px;
    }
  }
}
