@import 'compass';

.link {
  color: $link-color;
  text-decoration: none;
  
  &:visited {
    color: $link-visited-color;
  }
  
  &:hover, &:visited:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

.h1, .h2, .h3, .h4, .h5, .h6, %h1, %h2, %h3, %h4, %h5, %h6 { font-weight: $heading-font-weight; }

.h1, .h2, %h1, %h2 { line-height: 1.2; }

.h3, .h4, %h3, %h4 { line-height: 1.3; }

.h1, %h1 { font-size: 400%; letter-spacing: -2px; }
.h2, %h2 { font-size: 250%; letter-spacing: -1px; }
.h3, %h3 { font-size: 200%; }
.h4, %h4 { font-size: 180%; }
.h5, %h5 { font-size: 130%; }
.h6, %h6 { font-size: 100%; }

.fixed { font-family: $fixed-font-family; font-size: $fixed-font-size; line-height: $fixed-line-height; }

.italic { font-style: italic; }
.bold { font-weight: 700; }

.highlight {
  @include syntax-highlight($text-color, $link-color);
}

.typeset {
  a { @extend .link; }

  h1, .h1 { @extend %h1; margin: 1em 0 0.5em; }
  h2, .h2 { @extend %h2; margin: 1em 0 0.5em; }
  h3, .h3 { @extend %h3; margin: 1em 0 0.5em; }
  h4, .h4 { @extend %h4; margin: 1em 0 0.5em; }
  h5, .h5 { @extend %h5; margin: 1em 0 0.5em; }
  h6, .h6 { @extend %h6; margin: 1em 0 0.5em; }
  
  p, ul, ol, pre { margin: 1em 0; }
  
  i, em { @extend .italic; }
  b, strong { @extend .bold; }
  
  pre { @extend .fixed; }

}

