%section.people-list(role="contributors")
  %h1 Contributors
  %ul
    %li
      %a{:href => "/adam-stacoviak"} Adam Stacoviak
      = " ~ <em>Editor in Chief</em>"
    %li
      %a{:href => "/john-w-long"} John W. Long
      = " ~ <em>Managing Editor</em>"
    %li
      %a{:href => "http://twitter.com/chriseppstein"} Chris Eppstein
      = " ~ <em>Technical Editor</em>"
    %li
      %a{:href => "/mason-wendell"} Mason Wendell
    %li
      %a{:href => "/mario-ricalde"} Mario Ricalde
    %li
      %a{:href => "/roy-tomeij"} Roy Tomeij
    %li
      %a{:href => "/peter-gasston"} Peter Gasston
