%footer#footer

  -# haml :popular, :layout => false

  .colophon
    .grid-4
      %section
        %h2 A RIZN Media production
        :markdown
          [RIZN Media](http://riznmedia.com/) is a tech niche media outlet, backed by passionate community thought leaders.

          Founded in November 2009, RIZN Media set out to create niche platforms to shine a spotlight on the people doing the heavy lifting and leading the way. With the help of a dedicated team, RIZN Media covers [what's fresh and new in open source](http://thechangelog.com/), [Sass, Compass, CSS and UI design](http://thesassway.com/) as well as [stories about founders building businesses](http://5by5.tv/founderstalk).

          Thank you for your support. We appreciate our readers and listeners.
    .sitemap
      .grid-2
        %section
          %h2 Connect
          %ul
            %li
              %a{:href => "/guides"} Guides
            %li
              %a{:href => "/beginner"} Beginner
            %li
              %a{:href => "/intermediate"} Intermediate
            %li
              %a{:href => "/advanced"} Advanced
            %li
              %a{:href => "/articles"} Articles
            %li
              %a{:href => "/news"} News
            %li
              %a{:href => "/projects"} Projects
            %li
              %a{:href => "/contact"} Contact
      .grid-2
        %section
          %h2 Subscribe
          %ul
            %li
              %a{:href => "http://feeds.feedburner.com/thesassway"} RSS
            %li
              %a{:href => "http://twitter.com/TheSassWay"} Twitter
            %li
              %a{:href => "http://facebook.com/thesassway"} Facebook
            %li
              %a{:href => "http://github.com/thesassway"} GitHub
        %section
          %h2 Book
          %ul
            %li.book
              %a{:href => "http://rizn.me/sasscompassbook"} Sass and Compass in Action
      .grid-2
        %section
          %h2 Contributors
          %ul
            %li
              %a{:href => "/adam-stacoviak"} Adam Stacoviak
            %li
              %a{:href => "/john-w-long"} John W. Long
            %li
              %a{:href => "http://twitter.com/chriseppstein"} Chris Eppstein
            %li
              %a{:href => "/mason-wendell"} Mason Wendell
            %li
              %a{:href => "/mario-ricalde"} Mario Ricalde
            %li
              %a{:href => "/roy-tomeij"} Roy Tomeij
            %li
              %a{:href => "/peter-gasston"} Peter Gasston
            %li
              %a{:href => "/contact"} You?
      .grid-2
        %section
          %h2 We Use
          %ul
            %li
              %a{:href => "https://github.com/"} GitHub
            %li
              %a{:href => "http://effectif.com/nesta"} Nesta
            %li
              %a{:href => "http://heroku.com/"} Heroku
            %li
              %a{:href => "http://sass-lang.com/"} Sass
            %li
              %a{:href => "http://compass-style.org/"} Compass
            %li
              %a{:href => "https://github.com/adamstac/grid-coordinates"} Grid Coordinates

  %section.site
    %a.credit(href="http://riznmedia.com/" title="a RIZN Media production") a Rizn Media production
