%section.author-bio
  %h2
    %span The Author, 
    Mario "Kuroir" Ricalde
  %img.author-image{:src => "https://si0.twimg.com/profile_images/1477488461/dolce_reasonably_small.jpg"}
  :markdown
    Mario Ricalde, also known as "Kuroir", is a tenacious self-taught developer who enjoys improving the front-end development process by providing utilities and procedures.

    Mario is the creator of the [SCSS TextMate Bundle](https://github.com/kuroir/SCSS), [Survival + Kit](https://github.com/kuroir/Survival-Kit) a Compass Framework which aims to provide useful mixins for Front-End Engineers and [The Arrangement for View Assets Pattern](https://github.com/kuroir/AVA-Pattern) (writing it!).

    He has worked for several companies around the world and is currently working with [Destructoid](http://destructoid.com/), [PeeWeePC](http://www.peeweepc.com/) and [Sitepoint's Learnable.com](https://learnable.com/). You can follow him on [Twitter](https://twitter.com/kuroir) and check out his codes on [GitHub](https://github.com/kuroir).