- @page_role = 'article' if @page.date

.primary.column
  .content
    =# haml :summaries, :layout => false, :locals => { :pages => @page.pages, :heading => :h3 }

    = haml :post, :layout => false

    - if is_page?
      ~ @page.to_html(self)

    = haml :category, :layout => false

= haml :sidebar, :layout => false
