%section.author-bio
  %h2
    %span The Author, 
    Peter Gasston
  %img.author-image{:src => "https://si0.twimg.com/profile_images/391831398/peter_opie_reasonably_small.png"}
  :markdown
    [Peter Gasston](http://www.petergasston.co.uk/) works as a developer at [Top10](http://top10.com/) and codes mainly client-side languages (although he's familiar with server-side as well). Peter is a keen advocate of open web standards, is the author of [The Book of CSS3: A Developer’s Guide to the Future of Web Design](http://nostarch.com/css3.htm) (released May 2011), and has written for .Net magazine and [CSS3.info](http://www.css3.info/).

    Peter blogs on technical issues at [Broken-Links.com](http://www.broken-links.com/), has spoken at [Ignite London](http://ignitelondon.net/) as well as various other web development meetings, and can often be found under the user name of 'stopsatgreen' (clever anagram).
    
    Connect with Peter on Twitter at [@stopsatgreen](https://twitter.com/#!/stopsatgreen) and [Lanyrd.com](http://lanyrd.com/profile/stopsatgreen/).