%section.popular
  %h1 Popular Stuff
  %section
    %h2 Popular Episodes
    %ul
      %li
        %a{:href => "#"} 0.3.4 - Mongrel2, guitar, and more with Zed Shaw
      %li
        %a{:href => "#"} 0.4.0 - Riak revisited with Andy Gross, Mark Phillips, and John Nunemaker
      %li
        %a{:href => "#"} 0.3.9 - Scripty2, Zepto.js, Vapor.js, and more with Thomas Fuchs
      %li
        %a{:href => "#"} 0.3.3 - Node Knockout
      %li
        %a{:href => "#"} 0.3.7 - PubSubHubBub with Superfeedr's Julien Genestoux
  %section
    %h2 Popular Posts
    %ul
      %li
        %a{:href => "#"} dom-monster: Cross-browser bookmarklet to analyze your DOM, improve performance
      %li
        %a{:href => "#"} Using Haskell to make a Mac App Store App
      %li
        %a{:href => "#"} OpenGovernment: Empower individuals and organizations to track government at every level
      %li
        %a{:href => "#"} CompassApp: Compile Sass stylesheets easily without resorting to the command line
      %li
        %a{:href => "#"} Canabalt: Engine behind popular iOS game now open source
  %section
    %h2 Popular GitHub Jobs
    %ul
      %li
        %a{:href => "#"} Freelance Software Engineer (PHP/Lithium/MongoDB)
      %li
        %a{:href => "#"} Front End Developer
      %li
        %a{:href => "#"} PHP Developer (Drupal) for Workday Community
      %li
        %a{:href => "#"} Barnes & Noble.com: Senior Software Engineer/Architect (Java/Agile/TDD/eCommerce)
      %li
        %a{:href => "#"} "Rock Stars" and "Ninjas" Need Not Apply