%section.author-bio
  %h2
    %span The Author,
    Roy Tomeij
  %img.author-image{:src => "https://twimg0-a.akamaihd.net/profile_images/1796230903/roy_square_reasonably_small.jpg"}
  :markdown
    [Roy Tomeij](http://roytomeij.com/) is co-founder of [80beans](http://www.80beans.com/) and [SliceCraft](http://www.slicecraft.nl/) in Amsterdam (The Netherlands), where he takes care of front-end architecture and business development using an agile approach. He loves front-end meta languages like Haml, Sass & CoffeeScript.

    Contact Roy on Twitter at [@roy](http://twitter.com/roy) or read [his blog](http://roytomeij.com/).
