%section.author-bio
  %h2
    %span The Author,
    Scott Kellum
  %img.author-image{:src => "https://si0.twimg.com/profile_images/378800000041996269/34ec08551531618f71850715c2afdbef.jpeg"}
  :markdown
    Scott Kellum a designer at [VOX Media](http://www.voxmedia.com/) creating beautiful features for [The Verge](http://theverge.com/) as well as having worked on [SB Nation](http://www.sbnation.com/) and [Polygon](http://www.polygon.com/). With a classical graphic design background and passion for code, Scott is particularly interested in the areas where design and development meet.

    I've worked on numerous Compass plugins like [Modular Scale](https://github.com/Team-Sass/modular-scale), [Singularity](https://github.com/Team-Sass/singularity), [Color Schemer](https://github.com/Team-Sass/color-schemer), and [Toolkit](https://github.com/Team-Sass/toolkit) to help solve design problems in code. [Follow Scott on Twitter](https://twitter.com/scottkellum).
