%aside.secondary.column(role="sidebar")

  %section.cite
    %img{:src => "/images/thesassway-avatar-90.png"}
    %h1 Find us on
    :markdown
      * [Twitter](http://twitter.com/TheSassWay)
      * [Facebook](http://www.facebook.com/thesassway)
      * [GitHub](https://github.com/thesassway)

      _The Sass Way_ covers the latest news and topics on crafting CSS using Sass and Compass.

      [Contact us](/contact) to send us your Sass news or to suggest new content for us to write about.

  = haml :contributors, :layout => false
  = haml :fusion_ads, :layout => false
