- unless pages.empty?
  - pages.each do |page|
    %article.post
      - haml_tag (defined?(heading) ? heading : :h2) do
        %a{ :href => page.abspath }= page.heading
      - if page.date
        .page-date= format_date(page.date)
      - if page.summary.nil? || page.summary.empty?
        ~ page.body
      - else
        ~ page.summary
        %p.read-more
          %a{ :href => page.abspath }= page.read_more
