<section class="people-list" role="contributors">
  <h1>Contributors</h1>
  <ul>
    <li>
      <a href="/adam-stacoviak">Adam Stacoviak</a>
      <%= " ~ <em>Editor in Chief</em>" %>
    </li>
    <li>
      <a href="/john-w-long">John W. Long</a>
      <%= " ~ <em>Managing Editor</em>" %>
    </li>
    <li>
      <a href="http://twitter.com/chriseppstein">Chris Eppstein</a>
      <%= " ~ <em>Technical Editor</em>" %>
    </li>
    <li><a href="/mason-wendell">Mason Wendell</a></li>
    <li><a href="/mario-ricalde">Mario Ricalde</a></li>
    <li><a href="/roy-tomeij">Roy Tomeij</a></li>
    <li><a href="/peter-gasston">Peter Gasston</a></li>
    <li><a href="/scott-kellum">Scott Kellum</a></li>
  </ul>
</section>
