<footer id="footer">

  <% partial 'layouts/popular' %>

  <div class="colophon">
    <div class="grid-4">
      <section>
        <h2>A RIZN Media production</h2>
        <p><a href="http://riznmedia.com/">RIZN Media</a> is a tech niche media
          outlet, backed by passionate community thought leaders.</p>
        <p>Founded in November 2009, RIZN Media set out to create niche
          platforms to shine a spotlight on the people doing the heavy lifting  
          and leading the way. With the help of a dedicated team, RIZN Media
          covers <a href="http://thechangelog.com/">what's fresh and new in
          open source</a>, <a href="http://thesassway.com/">Sass, Compass, CSS
          and UI design</a> as well as
          <a href="http://5by5.tv/founderstalk">stories about founders building
          businesses</a>.</p>
        <p>Thank you for your support. We appreciate our readers and
          listeners.</p>
      </section>
    </div>
    <div class="sitemap">
      <div class="grid-2">
        <section>
          <h2>Connect</h2>
          <ul>
            <li><a href="/guides">Guides</a></li>
            <li><a href="/beginner">Beginner</a></li>
            <li><a href="/intermediate">Intermediate</a></li>
            <li><a href="/advanced">Advanced</a></li>
            <li><a href="/articles">Articles</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </section>
      </div>
      <div class="grid-2">
        <section>
          <h2>Subscribe</h2>
          <ul>
            <li><a href="http://feeds.feedburner.com/thesassway">RSS</a></li>
            <li><a href="http://twitter.com/TheSassWay">Twitter</a></li>
            <li><a href="http://facebook.com/thesassway">Facebook</a></li>
            <li><a href="http://github.com/thesassway">GitHub</a></li>
          </ul>
        </section>
        <section>
          <h2>Book</h2>
          <ul>
            <li class="book"><a href="http://affiliate.manning.com/idevaffiliate.php?id=1184_270_1_71">Sass and Compass in Action</a></li>
          </ul>
        </section>
      </div>
      <div class="grid-2">
        <section>
          <h2>Contributors</h2>
          <ul>
            <li><a href="/adam-stacoviak">Adam Stacoviak</a></li>
            <li><a href="/john-w-long">John W. Long</a></li>
            <li><a href="http://twitter.com/chriseppstein">Chris Eppstein</a></li>
            <li><a href="/mason-wendell">Mason Wendell</a></li>
            <li><a href="/mario-ricalde">Mario Ricalde</a></li>
            <li><a href="/roy-tomeij">Roy Tomeij</a></li>
            <li><a href="/peter-gasston">Peter Gasston</a></li>
            <li><a href="/scott-kellum">Scott Kellum</a></li>
          </ul>
        </section>
      </div>
      <div class="grid-2">
        <section>
          <h2>We Use</h2>
          <ul>
            <li><a href="https://github.com/">GitHub</a></li>
            <li><a href="http://middlemanapp.com">Middleman</a></li>
            <li><a href="http://heroku.com/">Heroku</a></li>
            <li><a href="http://sass-lang.com/">Sass</a></li>
            <li><a href="http://compass-style.org/">Compass</a></li>
            <li><a href="https://github.com/adamstac/grid-coordinates">Grid Coordinates</a></li>
          </ul>
        </section>
      </div>
    </div>
  </div>
  <section class="site">
    <a class="credit" href="http://riznmedia.com/" title="a RIZN Media production">a Rizn Media production</a>
  </section>
</footer>
