<div id="podcasts">
  <div class="grid-container">
    <div class="grid-4">
      <section class="podcast">
        <header class="grid-4">
          <h3><a href="https://twitter.com/TheSassWay">The Sass Way</a> <span>(twitter)</span></h3>
        </header>
        <div class="grid-1">
          <a href="https://twitter.com/TheSassWay"><img src="http://a0.twimg.com/profile_images/1480289407/album-art-3.png"/></a>
        </div>
        <div class="grid-3">
          <p>The latest news and RTs on crafting CSS using Sass and Compass. Tell your friends, send us your Sass news.</p>
        </div>
      </section>
    </div>
    <div class="grid-4">
      <section class="podcast">
        <header class="grid-4">
          <h3><a href="http://thechangelog.com/">The Changelog</a></h3>
        </header>
        <div class="grid-1">
          <a href="http://thechangelog.com/"><img src="http://a1.twimg.com/profile_images/544002721/Album-Art_bigger.png"/></a>
        </div>
        <div class="grid-3">
          <p>A weekly podcast and blog that covers what's fresh and new in the world of Open Source.</p>
        </div>
      </section>
    </div>
    <div class="grid-4">
      <section class="podcast">
        <header class="grid-4">
          <h3><a href="http://5by5.tv/founderstalk">Founders Talk</a></h3>
        </header>
        <div class="grid-1">
          <a href="http://5by5.tv/founderstalk"><img src="http://a1.twimg.com/profile_images/1150957619/founderstalk-album-art.png"/></a>
        </div>
        <div class="grid-3">
          <p>An interview podcast hosted by Adam Stacoviak that profiles founders building businesses online and offline.</p>
        </div>
      </section>
    </div>
  </div>
</div>
