<section class="popular">
  <h1>Popular Stuff</h1>
  <section>
    <h2>Popular Episodes</h2>
    <ul>
      <li><a href="#">0.3.4 - Mongrel2, guitar, and more with Zed Shaw</a></li>
      <li><a href="#">0.4.0 - Riak revisited with Andy Gross, Mark Phillips, and John Nunemaker</a></li>
      <li><a href="#">0.3.9 - Scripty2, Zepto.js, Vapor.js, and more with Thomas Fuchs</a></li>
      <li><a href="#">0.3.3 - Node Knockout</a></li>
      <li><a href="#">0.3.7 - PubSubHubBub with Superfeedr's Julien Genestoux</a></li>
    </ul>
  </section>
  <section>
    <h2>Popular Posts</h2>
    <ul>
      <li><a href="#">dom-monster: Cross-browser bookmarklet to analyze your DOM, improve performance</a></li>
      <li><a href="#">Using Haskell to make a Mac App Store App</a></li>
      <li><a href="#">OpenGovernment: Empower individuals and organizations to track government at every level</a></li>
      <li><a href="#">CompassApp: Compile Sass stylesheets easily without resorting to the command line</a></li>
      <li><a href="#">Canabalt: Engine behind popular iOS game now open source</a></li>
    </ul>
  </section>
  <section>
    <h2>Popular GitHub Jobs</h2>
    <ul>
      <li><a href="#">Freelance Software Engineer (PHP/Lithium/MongoDB)</a></li>
      <li><a href="#">Front End Developer</a></li>
      <li><a href="#">PHP Developer (Drupal) for Workday Community</a></li>
      <li><a href="#">Barnes & Noble.com: Senior Software Engineer/Architect (Java/Agile/TDD/eCommerce)</a></li>
      <li><a href="#">"Rock Stars" and "Ninjas" Need Not Apply</a></li>
    </ul>
  </section>
</section>
