<section>
  <img src="/images/thesassway-avatar-90.png">

  <p><em>The Sass Way</em> covers the latest news and topics on crafting CSS using Sass and Compass.</p>

  <p><a href="/contact">Contact us</a> to send us your Sass news or to suggest new content for us to write about.</p>

  <ul>
    <li><a href="http://twitter.com/TheSassWay">Twitter</a></li>
    <li><a href="http://www.facebook.com/thesassway">Facebook</a></li>
    <li><a href="https://github.com/thesassway">GitHub</a></li>
  </ul>
</section>

<%= partial 'layouts/contributors' %>
<%= partial 'layouts/fusion_ads' %>
