<aside class="secondary column" role="sidebar">
  <section class="cite">
    <img src="/images/thesassway-avatar-90.png">

    <h1>Find us on</h1>

    <ul>
      <li><a href="http://twitter.com/TheSassWay">Twitter</a></li>
      <li><a href="http://www.facebook.com/thesassway">Facebook</a></li>
      <li><a href="https://github.com/thesassway">GitHub</a></li>
    </ul>

    <p><em>The Sass Way</em> covers the latest news and topics on crafting CSS using Sass and Compass.</p>

    <p><a href="/contact">Contact us</a> to send us your Sass news or to suggest new content for us to write about.</p>
  </section>

  <%= partial 'layouts/contributors' %>
  <%= partial 'layouts/fusion_ads' %>
</aside>
