<div role="top-bar">
  <nav role="main-nav">
    <ul>
      <li><a href="/">Homepage</a></li>
      <li class="beginner"><a href="/beginner">Beginner</a></li>
      <li><a href="/intermediate">Intermediate</a></li>
      <li><a href="/advanced">Advanced</a></li>
      <li class="articles"><a href="/articles">Articles</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/projects">Projects</a></li>
      <li class="subscribe"><a href="http://feeds.feedburner.com/thesassway">Subscribe</a></li>
    </ul>
  </nav>
</div>
