<% @page_role = 'article' if meta.date %>

<% wrap_layout 'layout' do %>
  <div class="row">
    <div class="large-10 large-offset-1 columns typeset">
      <%= yield %>
    </div>
  </div>
<% end %>
