.links
  a
    +transition-property(background)
    +transition-duration(.5s)
    color: $tsw-pink
    text-decoration: none
    &:visited
      color: $link-visited-color
    &:hover
      color: #171717
      background: $tsw-light-pink
    &:focus, &:active
      outline: none

.typography
  +basic-typography

.article
  .by-line
    font-size: 120%
    margin: -1em 0 1em
    color: $tsw-pink
  .page-date
    +quiet

.images
  img.right
    float: right
    margin: 0 0 1em 1em
  img.left
    float: left
    margin: 0 1em 1em 0

.syntax
  .highlight
    margin-bottom: 1em
  pre
    +border-radius(3px)
    +syntax-highlight($text-color, $tsw-pink)
    border: 1px solid #e7e7e7
    font-size: 14px
    font-family: $fixed-font-family
    line-height: 1.2
    padding: 1em

.content
  @extend .links
  // @extend .typography
  // @extend .article
  @extend .images
  @extend .syntax
