[role="article"]
  .post
    position: relative
  .page-categories
    +no-bullets
    margin-top: 30px
    li
      display: inline-block
      font-size: 14px
      margin-bottom: 5px
      &:after
        content: ", "
      &:last-of-type:after
        content: ""
      &:first-of-type
        font-weight: bold
        margin-right: 5px
        text-transform: uppercase
        &:after
          content: ": "
  .author-bio
    +clearfix
    +border-radius(3px)
    background: lighten($tsw-light-pink,2)
    border: 1px solid rgba($tsw-pink,.3)
    padding: 15px
    h2
      margin-top: 0
      margin-bottom: 10px
    img
      +float-left
      margin-right: 12px
      width: 65px
    p
      font-style: normal
      font-size: 14px
      &:last-of-type
        margin-bottom: 0
  #disqus_thread
    margin-top: 50px
    h3, #dsq-account-dropdown
      font-family: $base-font-family
      font-size: 14px
      font-weight: bold
      text-transform: uppercase
      a
        color: $tsw-pink
        text-decoration: none
    #dsq-footer li
      font-size: 13px
      margin-right: 25px
      a
        color: #171717
        text-decoration: none
        em
          text-decoration: none