[role=article]
  .page-categories
    margin-top: 50px
    header, h2, ul, li
      display: inline
  #disqus_thread
    margin-top: 50px
    h3, #dsq-account-dropdown
      font-family: $base-font-family
      font-size: 14px
      font-weight: bold
      text-transform: uppercase
      a
        color: $tsw-pink
        text-decoration: none
    #dsq-footer li
      font-size: 13px
      margin-right: 25px
      a
        color: #171717
        text-decoration: none
        em
          text-decoration: none