<div class="graphic-header bubble-sort-graphic-header reversed">
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <h1 class="graphic-header-title"><%= partial 'images/headers/bubble-sort.svg' %></h1>
      <p class="graphic-header-by-line">
        <img class="avatar x32 graphic-header-by-line-avatar" src="/images/authors/hugo-giraudel.jpeg">
        by Hugo Giraudel
      </p>
    </div>
  </div>
</div>
