<div class="graphic-header sass-3-3-graphic-header reversed">
  <div class="row">
    <div class="large-10 large-offset-1 columns">
      <h1 class="graphic-header-title">Sass 3.3</h1>
      <h2 class="graphic-header-subtitle">Maptastic Maple</h2>
    </div>
  </div>
</div>
