%section.author-bio
  %h2 About the author
  %img{:src => "http://a0.twimg.com/profile_images/1138182773/as-current_reasonably_small.jpeg"}
  :markdown
    [Adam Stacoviak](http://adamstacoviak.com/) is the *Editor in Chief* of [The Sass Way](http://thesassway.com/) as well as a notable Sass and Compass expert. He has been designing and developing for the web since 2004.
    
    Adam is the UX Designer for [Pure Charity](http://purecharity.com/), he runs [RIZN Media](http://riznmedia.com/), is a Co-host and writer at [The Changelog](http://thechangelog.com/), and the Producer and Host of [Founders Talk](http://5by5.tv/founderstalk). Adam blogs at [adamstacoviak.com](http://adamstacoviak.com/) from time to time and is known for his moto *"people helping people."*
    
    Connect with Adam on Twitter at [@adamstac](http://twitter.com/adamstac).