%section.author-bio
  %h2
    %span The Author, 
    Blake Poutra
  %img.author-image{:src => "/attachments/blake-poutra.jpg"}
  :markdown
    Blake Poutra is a designer and developer at [You Design It](http://www.youdesignit.com). He mainly focuses on [t shirt printing and design](http://www.youdesignit.com/benefits/design-t-shirts) but also has an unhealthy obsession with new web technologies.