%section.cite
  %img{:src => "/base/images/thesassway-avatar-90.png"}
  %h1 Find us on
  :markdown
    * [Twitter](http://twitter.com/TheSassWay)
    * [GitHub](https://github.com/thesassway)
    * [Convore](https://convore.com/the-sass-way/)

    _The Sass Way_ covers the latest news and topics on crafting CSS using Sass and Compass.