%section.people-list(role="contributors")
  %h1 Contributors
  %ul
    %li
      <a href="http://kuroir.com/">Mario Kuroir Ricalde</a>
    %li
      <a href="http://thecodingdesigner.com/">Mason Wendell</a>