/[if IE]
%script{:type => "text/javascript", :src => "http://html5shiv.googlecode.com/svn/trunk/html5.js"}
%script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
%script{:type => "text/javascript", :src => "/base/javascripts/site.js"}
= haml :woopra, :layout => false