%section.author-bio
  %h2
    %span The Author, 
    John W. Long
  %img.author-image{:src => "http://a0.twimg.com/profile_images/1509219193/john_155.jpg"}
  :markdown
    [John W. Long](http://wiseheartdesign.com/) is the *Managing Editor* of [The Sass Way](http://thesassway.com/) as well as a designer, hacker and a UX Designer at [UserVoice](http://uservoice.com/). John is the creator of [Radiant CMS](http://radiantcms.org/) and [Serve](http://get-serve.com/).
    
    Connect with John on Twitter at [@johnwlong](http://twitter.com/johnwlong).