!!!html5
%html
  %head
    %meta{ "http-equiv" => "content-type", "content" => "text/html; charset=utf-8" }
    - if @description
      %meta{ "name" => "description", "content" => @description }
    - if @keywords
      %meta{ "name" => "keywords", "content" => @keywords }
    %link{ :href => "/base/sass-icon.ico", :rel => "shortcut icon" }
    %title= @title
    %link{ :href => "/base/css/master.css", :media => "screen", :rel => "stylesheet", :type => "text/css" }
    %link{ :href => "/articles.xml", :rel => "alternate", :type => "application/atom+xml" }
    = haml :analytics, :layout => false
  %body{ :role => @page_role || 'page' }
  
    %header(role="banner")
      .max-width
        .padding
          %h1
            %a{:href => "/", :rel => "home"}
            :plain
              <span class="char1">T</span><span class="char2">h</span><span class="char3">e</span><span class="char4"> </span><span class="char5">S</span><span class="char6">a</span><span class="char7">s</span><span class="char8">s</span><span class="char9"> </span><span class="char10">W</span><span class="char11">a</span><span class="char12">y</span>

            :plain
              <span class='trade-mark'>&trade;</span>
          - if @subtitle
            %h2= @subtitle

    %section(role="main")
      .max-width
        .padding
          = yield
  
    %nav(role="offsite")
      %ul
        %li
          %a{:href=>"http://twitter.com/thesassway"} Twitter
        %li
          %a{:href=>"http://convore.com/the-sass-way/"} Community
        %li
          %a{:href=>"http://github.com/thesassway/"} GitHub

    %footer(role="footer")
      .max-width
        .padding
          :markdown
            Copyright 2010 - 2011 [Adam Stacoviak](http://adamstacoviak.com/) and [John W. Long](http://wiseheartdesign.com/), All Rights Reserved.

    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    %script{:type => "text/javascript", :src => "http://cdnjs.cloudflare.com/ajax/libs/jquery/1.6.2/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/base/javascripts/site.js"}
