#podcasts
  .grid-container
    .grid-4
      %section.podcast
        %header.grid-4
          %h3
            %a{:href => "http://thesassway.com/"} The Sass Way (twitter)
        .grid-1
          %a{:href => "http://thesassway.com/"}
            %img{:src => "http://a0.twimg.com/profile_images/1480289407/album-art-3.png"}
        .grid-3
          %p The latest news and RTs on crafting CSS using Sass and Compass. Tell your friends, send us your Sass news.
    .grid-4
      %section.podcast
        %header.grid-4
          %h3
            %a{:href => "http://thechangelog.com/"} The Changelog
        .grid-1
          %a{:href => "http://thechangelog.com/"}
            %img{:src => "http://a1.twimg.com/profile_images/544002721/Album-Art_bigger.png"}
        .grid-3
          %p A weekly podcast and blog that covers what's fresh and new in the world of Open Source.
    .grid-4
      %section.podcast
        %header.grid-4
          %h3
            %a{:href => "http://5by5.tv/founderstalk"} Founders Talk
        .grid-1
          %a{:href => "http://5by5.tv/founderstalk"}
            %img{:src => "http://a1.twimg.com/profile_images/1150957619/founderstalk-album-art.png"}
        .grid-3
          %p An interview podcast hosted by Adam Stacoviak that profiles founders building businesses online and offline.