%section.people-list(role="staff")
  %h1 Staff
  %ul
    %li
      <a href="http://adamstacoviak.com/">Adam Stacoviak</a> ~ <em>Editor in Chief</em>
    %li
      <a href="http://wiseheartdesign.com/">John W. Long</a> ~ <em>Managing Editor</em>
    %li
      <a href="http://wynnnetherland.com/">Wynn Netherland</a> ~ <em>Technical Editor</em>