%section.people-list(role="staff")
  %h1 Staff
  %ul
    %li
      <a href="/adam-stacoviak">Adam Stacoviak</a> ~ <em>Editor in Chief</em>
    %li
      <a href="/john-w-long">John W. Long</a> ~ <em>Managing Editor</em>
    %li
      <a href="http://wynnnetherland.com/">Wynn Netherland</a> ~ <em>Technical Editor</em>
    %li
      <a href="http://twitter.com/chriseppstein">Chris Eppstein</a> ~ <em>Technical Editor</em>