%div(role="top-bar")
  .max-width
    .padding
      %nav(role="main")
        %ul
          %li.beginner
            %a{:href => "/beginner"} Beginner
          %li
            %a{:href => "/intermediate"} Intermediate
          %li
            %a{:href => "/advanced"} Advanced
          %li.tutorials
            %a{:href => "/tutorials"} Tutorials
          %li
            %a{:href => "/articles"} Articles
          %li
            %a{:href => "/projects"} Projects