%div(role="top-bar")
  %nav(role="main-nav")
    %ul
      %li.beginner
        %a{:href => "/beginner"} Beginner
      %li
        %a{:href => "/intermediate"} Intermediate
      %li
        %a{:href => "/advanced"} Advanced
      %li.articles
        %a{:href => "/articles"} Articles
      %li
        %a{:href => "/news"} News
      %li
        %a{:href => "/projects"} Projects