- if ENV['RACK_ENV']== "production"
  :plain
    <!-- Start of Woopra Code -->
    <script type="text/javascript">
    function woopraReady(tracker) {
        tracker.setDomain('thesassway.com');
        tracker.setIdleTimeout(600000);
        tracker.track();
        return false;
    }
    (function() {
        var wsc = document.createElement('script');
        wsc.src = document.location.protocol+'//static.woopra.com/js/woopra.js';
        wsc.type = 'text/javascript';
        wsc.async = true;
        var ssc = document.getElementsByTagName('script')[0];
        ssc.parentNode.insertBefore(wsc, ssc);
    })();
    </script>
    <!-- End of Woopra Code -->
