Date: 30 August 2011
Categories: news, adam-stacoviak
Author: Adam Stacoviak
Summary: We were featured on the Ruby5 podcast (thanks!).

%h1 Featured on the Ruby5 podcast

:markdown
  We were featured on the Ruby5 podcast (thanks!).
  
  ## Ruby5: Episode #201 - August 26th, 2011

  <a href="http://ruby5.envylabs.com/episodes/204-episode-201-august-26th-2011/stories/1805-the-sass-way">
    <img src="/attachments/ruby5.jpeg" class="left" alt="CSS, Sass, Compass" width="140" />
  </a>

  "Thank the Asset Pipeline for bringing the magic of Sass to the broader Rails community... now everyone needs to learn how to use it correctly. Enter the Sass Way, a great website with tutorials and articles about using Sass."
  
  [The Sass Way - Episode #201](http://ruby5.envylabs.com/episodes/204-episode-201-august-26th-2011/stories/1805-the-sass-way)

= haml :adam_stacoviak, :layout => false