Date: 30 August 2011 10:00
Categories: news, adam-stacoviak
Author: Adam Stacoviak
Summary: I love how Nathan opens with, "I aim for this to be the article I wish I had read when I was first contemplating Sass but (at the time) did not consider it worthwhile. I could not have been more wrong."

%h1 "Sass for Designers", by Nathan Smith

:markdown
  I love how Nathan opens with, "I aim for this to be the article I wish I had read when I was first contemplating Sass but (at the time) did not consider it worthwhile. I could not have been more wrong."

  <img src="/attachments/css-sass-compass.jpeg" class="full" alt="CSS, Sass, Compass" />

  <blockquote cite="http://sonspring.com/journal/sass-for-designers">
  <p>"Where Sass left off, Compass goes to the next level."</p>
  <footer>— <a href="http://sonspring.com/">Nathan Smith</a> in <cite><a href="http://sonspring.com/journal/sass-for-designers">Sass for Designers</a></cite></footer>
  </blockquote>

  Nathan, I'm with you. I too want to know, "who in their right mind wants to type all that?" I just don't get it. It's like working for your money vs making your money work for you.
  
  [Compass](http://compass-style.org/) has certainly proved itself as the standard library for Sass that's for sure. I just don't get why some refuse to use it, or think that it's overkill. I use it for [the CSS3 Mixins](http://compass-style.org/reference/compass/css3/) alone! Not to mention [Vertical Rhythm](http://compass-style.org/reference/compass/typography/vertical_rhythm/), as you mentioned, and those useful [Utilities Mixins](http://compass-style.org/reference/compass/utilities/).

  ## Links

  * Read: [Sass for Designers](http://sonspring.com/journal/sass-for-designers)
  * Image: [css-sass-compass.jpeg](/attachments/css-sass-compass.jpeg)

= haml :adam_stacoviak, :layout => false