Date: 30 August 2011
Categories: news, adam-stacoviak
Author: Adam Stacoviak
Summary: I love how Nathan opens with, "I aim for this to be the article I wish I had read when I was first contemplating Sass but (at the time) did not consider it worthwhile. I could not have been more wrong."

%h1 "Sass for Designers", by Nathan Smith

:markdown
  I love how Nathan opens with, "I aim for this to be the article I wish I had read when I was first contemplating Sass but (at the time) did not consider it worthwhile. I could not have been more wrong."

  Nathan, I'm with you. I too want to know, "who in their right mind wants to type all that?" I just don't get it. It's like making your money work for you vs you working for it.

  ## CSS, Sass, Compass

  <blockquote cite="http://sonspring.com/journal/sass-for-designers">
  <p>"Where Sass left off, Compass goes to the next level."</p>
  <footer>— <a href="http://sonspring.com/">Nathan Smith</a> in <cite><a href="http://sonspring.com/journal/sass-for-designers">Sass for Designers</a></cite></footer>
  </blockquote>

  <img src="/attachments/css-sass-compass.jpeg" class="full" alt="CSS, Sass, Compass" />

  ## Links

  * Read: [Sass for Designers](http://sonspring.com/journal/sass-for-designers)
  * Image: [css-sass-compass.jpeg](/attachments/css-sass-compass.jpeg)

= haml :adam_stacoviak, :layout => false