---
layout: layout
---

<div class="row">
  <div class="large-10 large-offset-1 columns">
    <h1 class="title"><%= item.name %></h1>
    <h2 class="subtitle"><%= item.subtitle %></h2>
  </div>
</div>

<% show_avatars = !(%w(news projects).include?(item.slug)) %>
<% if item.superset %>
  <% pages = articles_for(item.superset.split(/\s*,\s*/)) %>
  <%= partial 'layouts/summaries', :locals => { pages: pages, avatars: show_avatars } %>
<% else %>
  <%= partial 'layouts/summaries', :locals => { pages: articles_for(item.slug), avatars: show_avatars } %>
<% end %>
