---
layout: layout
---

<div class="row">
  <div class="large-10 large-offset-1 columns">
    <h1 class="title"><%= category.name %></h1>
    <h2 class="subtitle"><%= category.subtitle %></h2>
  </div>
</div>

<% if category.superset %>
  <% pages = articles_for(category.superset.split(/\s*,\s*/)) %>
  <%= partial 'layouts/summaries', :locals => { :pages => pages, :heading => :h3 } %>
<% else %>
  <%= partial 'layouts/summaries', :locals => { :pages => children, :heading => :h3 } %>
<% end %>
