<section class="author-bio">
  <h2><span>The Author,</span> Adam Stacoviak</h2>

  <img class="author-image" src="http://a0.twimg.com/profile_images/1138182773/as-current_reasonably_small.jpeg"/>

  <p><a href="http://adamstacoviak.com/">Adam Stacoviak</a> is Editor-in-Chief of
    <a href="http://thesassway.com/">The Sass Way</a>.</p>

  <p>Adam is the Product Manager at <a href="http://purecharity.com/">Pure Charity</a>,
    he runs <a href="http://riznmedia.com/">RIZN Media</a>, is founder and
    Editor-in-Chief at <a href="http://thechangelog.com/">The Changelog</a>, and the
    creator and host of <a href="http://5by5.tv/founderstalk">Founders Talk</a>.</p>

  <p>Adam blogs at <a href="http://adamstacoviak.com/">adamstacoviak.com</a> from time
    to time. <a href="http://twitter.com/adamstac">Follow him on Twitter</a>.</p>
</section>
