<section class="author-bio">
  <h2><span>The Author,</span> Hugo Giraudel</h2>

  <img class="author-image" src="https://pbs.twimg.com/profile_images/378800000638607178/d6b74325fc8156ccc6a3926156e5e1b6.jpeg"/>

  <p><a href="http://hugogiraudel.com">Hugo Giraudel</a> is a front-end developer and celebrated
    blogger from France. He's written articles for <a href="http://css-tricks.com">CSS-Tricks.com</a>,
    <a href="http://tympanus.net/codrops/">Codrops</a>, and now The Sass Way.
    He's also the curator of <a href="http://browserhacks.com/">BrowserHacks.com</a>.</p>

  <p>Connect with Hugo on Twitter at <a href="http://twitter.com/hugogiraudel">@HugoGiraudel</a>.</p>
</section>
