<section class="author-bio">
  <h2><span>The Author,</span> Mario Ricalde</h2>

  <img class="author-image" src="https://si0.twimg.com/profile_images/1477488461/dolce_reasonably_small.jpg"/>

  <p>Mario Ricalde is a tenacious self-taught developer who enjoys improving the front-end
    development process by providing utilities and procedures.</p>

  <p>Mario is the creator of the <a href="https://github.com/kuroir/SCSS">SCSS TextMate
    Bundle</a>, <a href="https://github.com/kuroir/Survival-Kit">Survival + Kit</a> a
    Compass Framework which aims to provide useful mixins for Front-End Engineers and
    <a href="https://github.com/kuroir/AVA-Pattern">The Arrangement for View Assets
    Pattern</a> (writing it!).</p>

  <p>He has worked for several companies around the world and is currently working with
    <a href="http://destructoid.com/">Destructoid</a>,
    <a href="http://www.peeweepc.com/">PeeWeePC</a> and
    <a href="https://learnable.com/">Sitepoint's Learnable.com</a>. You can follow him
    on <a href="https://twitter.com/mario_ricalde">Twitter</a> and check out his codes
    on <a href="https://github.com/MarioRicalde">GitHub</a>.</p>
</section>
