<section class="author-bio">
  <h2><span>The Author,</span> Mason Wendell</h2>

  <img src="http://a0.twimg.com/profile_images/553236702/stinkyavatar_reasonably_small.jpg"/>

  <p>Mason Wendell is a Design, CSS, HTML, and Drupal expert who has been designing and
    building websites since the early days of the web. He was an early adopter of Sass
    and Compass, and can't stop talking about it.</p>

  <p>Mason is Creative Director at <a href="http://zivtech.com">Zivtech</a> where he
    enjoys blurring the line between design and front-end development. He developed
    <a href="https://github.com/canarymason/Survival-Kit">The Coding Designer's Survival Kit</a>
    and hosts a video podcast about designing in the browser using Sass at
    <a href="http://thecodingdesigner.com">TheCodingDesigner.com</a>. He blogs at
    <a href="http://birdsandmonkeys.com">Birds and Monkeys</a> when he runs out of
    room everywhere else.</p>

  <p>Follow Mason on Twitter at <a href="http://twitter.com/canarymason">@canarymason</a>.</p>
</section>
