<section class="author-bio">
  <h2><span>The Author,</span> Peter Gasston</h2>

  <img class="author-image" src="https://si0.twimg.com/profile_images/391831398/peter_opie_reasonably_small.png"/>

  <p><a href="http://www.petergasston.co.uk/">Peter Gasston</a> works as a developer at
    <a href="http://top10.com/">Top10</a> and codes mainly client-side languages (although he's
    familiar with server-side as well). Peter is a keen advocate of open web standards, is the
    author of <a href="http://nostarch.com/css3.htm">The Book of CSS3: A Developer’s Guide to
    the Future of Web Design</a> (released May 2011), and has written for .Net magazine and
    <a href="http://www.css3.info/">CSS3.info</a>.</p>

  <p>Peter blogs on technical issues at <a href="http://www.broken-links.com/">Broken-Links.com</a>,
    has spoken at <a href="http://ignitelondon.net/">Ignite London</a> as well as various other
    web development meetings, and can often be found under the user name of 'stopsatgreen' (clever
    anagram).</p>

  <p>Connect with Peter on Twitter at <a href="https://twitter.com/#!/stopsatgreen">@stopsatgreen</a>
    and <a href="http://lanyrd.com/profile/stopsatgreen/">Lanyrd.com</a>.</p>
</section>
