<section class="author-bio">
  <h2><span>The Author,</span> Roy Tomeij</h2>

  <img class="author-image" src="https://twimg0-a.akamaihd.net/profile_images/1796230903/roy_square_reasonably_small.jpg"/>

  <p><a href="http://roytomeij.com/">Roy Tomeij</a> is co-founder of <a href="http://www.80beans.com/">80beans</a>
    and <a href="http://www.slicecraft.nl/">SliceCraft</a> in Amsterdam (The Netherlands), where
    he takes care of front-end architecture and business development using an agile approach. He
    loves front-end meta languages like Haml, Sass &amp; CoffeeScript.</p>

  <p>Contact Roy on Twitter at <a href="http://twitter.com/roy">@roy</a> or read
    <a href="http://roytomeij.com/">his blog</a>.</p>
</section>
