<section class="author-bio">
  <h2><span>The Author,</span> Scott Kellum</h2>

  <img class="author-image" src="https://si0.twimg.com/profile_images/378800000041996269/34ec08551531618f71850715c2afdbef.jpeg"/>

  <p>Scott Kellum a designer at <a href="http://www.voxmedia.com/">VOX Media</a> creating beautiful
    features for <a href="http://theverge.com/">The Verge</a> as well as having worked on
    <a href="http://www.sbnation.com/">SB Nation</a> and <a href="http://www.polygon.com/">Polygon</a>.
    With a classical graphic design background and passion for code, Scott is particularly interested
    in the areas where design and development meet.</p>

  <p>He&#8217;s worked on numerous Compass plugins like
    <a href="https://github.com/Team-Sass/modular-scale">Modular Scale</a>,
    <a href="https://github.com/Team-Sass/singularity">Singularity</a>,
    <a href="https://github.com/Team-Sass/color-schemer">Color Schemer</a>, and
    <a href="https://github.com/Team-Sass/toolkit">Toolkit</a> to help solve design problems in code.
    <a href="https://twitter.com/scottkellum">Follow Scott on Twitter</a>.</p>
</section>
