%section.author-bio
  %h2
    %span The Author, 
    Hugo Giraudel
  %img.author-image{:src => "https://si0.twimg.com/profile_images/3707765498/c5016843868bf53a654c4b7c33f41251.jpeg"}
  :markdown
    [Hugo Giraudel](http://hugogiraudel.com) is a front-end developer and celebrated blogger from France. He's written
    articles for [CSS-Tricks.com](http://css-tricks.com), [Codrops](http://tympanus.net/codrops/), and now The Sass Way.
    He's also the curator of [BrowserHacks.com](http://browserhacks.com/).
    
    Connect with Hugo on Twitter at [@HugoGiraudel](http://twitter.com/hugogiraudel).
