%section.author-bio
  %h2
    %span The Author, 
    Mason Wendell
  %img{:src => "http://a0.twimg.com/profile_images/553236702/stinkyavatar_reasonably_small.jpg"}
  :markdown
     Mason Wendell is a Design, CSS, HTML, and Drupal expert who has been designing and building websites since the early days of the web. He was an early adopter of Sass and Compass, and can't stop talking about it.

    Mason is Creative Director at [Zivtech](http://zivtech.com) where he enjoys blurring the line between design and front-end development. He developed [The Coding Designer's Survival Kit](https://github.com/canarymason/Survival-Kit) and hosts a video podcast about designing in the browser using Sass at [TheCodingDesigner.com](http://thecodingdesigner.com). He blogs at [Birds and Monkeys](http://birdsandmonkeys.com) when he runs out of room everywhere else.

    Follow Mason on Twitter at [@canarymason](http://twitter.com/canarymason).