html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

.clearfix, .grid-container,
.nested-grid-container,
.grid-block,
.grid-full,
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
  zoom: 1;
}
.clearfix:before, .grid-container:before,
.nested-grid-container:before,
.grid-block:before,
.grid-full:before,
.grid-1:before,
.grid-2:before,
.grid-3:before,
.grid-4:before,
.grid-5:before,
.grid-6:before,
.grid-7:before,
.grid-8:before,
.grid-9:before,
.grid-10:before,
.grid-11:before,
.grid-12:before, .clearfix:after, .grid-container:after,
.nested-grid-container:after,
.grid-block:after,
.grid-full:after,
.grid-1:after,
.grid-2:after,
.grid-3:after,
.grid-4:after,
.grid-5:after,
.grid-6:after,
.grid-7:after,
.grid-8:after,
.grid-9:after,
.grid-10:after,
.grid-11:after,
.grid-12:after {
  content: ".";
  display: block;
  overflow: hidden;
  visibility: hidden;
  font-size: 0;
  line-height: 0;
  width: 0;
  height: 0;
}
.clearfix:after, .grid-container:after,
.nested-grid-container:after,
.grid-block:after,
.grid-full:after,
.grid-1:after,
.grid-2:after,
.grid-3:after,
.grid-4:after,
.grid-5:after,
.grid-6:after,
.grid-7:after,
.grid-8:after,
.grid-9:after,
.grid-10:after,
.grid-11:after,
.grid-12:after {
  clear: both;
}

.grid-container {
  margin-right: auto;
  margin-left: auto;
  width: 960px;
}

.nested-grid-container {
  display: inline-block;
  margin-left: -10px;
  margin-right: -10px;
  width: auto;
}

.grid-block, .grid-full, .grid-1, .grid-2, .grid-3, .grid-4, .grid-5, .grid-6, .grid-7, .grid-8, .grid-9, .grid-10, .grid-11, .grid-12 {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  display: inline;
  float: left;
  position: relative;
  margin-right: 10px;
  margin-left: 10px;
}

.grid-full {
  width: 940px;
}

.grid-1 {
  width: 60px;
}

.grid-2 {
  width: 140px;
}

.grid-3 {
  width: 220px;
}

.grid-4 {
  width: 300px;
}

.grid-5 {
  width: 380px;
}

.grid-6 {
  width: 460px;
}

.grid-7 {
  width: 540px;
}

.grid-8 {
  width: 620px;
}

.grid-9 {
  width: 700px;
}

.grid-10 {
  width: 780px;
}

.grid-11 {
  width: 860px;
}

.grid-12 {
  width: 940px;
}

.grid-prefix-1 {
  margin-left: 90px;
}

.grid-prefix-2 {
  margin-left: 170px;
}

.grid-prefix-3 {
  margin-left: 250px;
}

.grid-prefix-4 {
  margin-left: 330px;
}

.grid-prefix-5 {
  margin-left: 410px;
}

.grid-prefix-6 {
  margin-left: 490px;
}

.grid-prefix-7 {
  margin-left: 570px;
}

.grid-prefix-8 {
  margin-left: 650px;
}

.grid-prefix-9 {
  margin-left: 730px;
}

.grid-prefix-10 {
  margin-left: 810px;
}

.grid-prefix-11 {
  margin-left: 890px;
}

.grid-suffix-1 {
  margin-right: 90px;
}

.grid-suffix-2 {
  margin-right: 170px;
}

.grid-suffix-3 {
  margin-right: 250px;
}

.grid-suffix-4 {
  margin-right: 330px;
}

.grid-suffix-5 {
  margin-right: 410px;
}

.grid-suffix-6 {
  margin-right: 490px;
}

.grid-suffix-7 {
  margin-right: 570px;
}

.grid-suffix-8 {
  margin-right: 650px;
}

.grid-suffix-9 {
  margin-right: 730px;
}

.grid-suffix-10 {
  margin-right: 810px;
}

.grid-suffix-11 {
  margin-right: 890px;
}

.grid-push-1 {
  left: 80px;
}

.grid-push-2 {
  left: 160px;
}

.grid-push-3 {
  left: 240px;
}

.grid-push-4 {
  left: 320px;
}

.grid-push-5 {
  left: 400px;
}

.grid-push-6 {
  left: 480px;
}

.grid-push-7 {
  left: 560px;
}

.grid-push-8 {
  left: 640px;
}

.grid-push-9 {
  left: 720px;
}

.grid-push-10 {
  left: 800px;
}

.grid-push-11 {
  left: 880px;
}

.grid-pull-1 {
  left: -80px;
}

.grid-pull-2 {
  left: -160px;
}

.grid-pull-3 {
  left: -240px;
}

.grid-pull-4 {
  left: -320px;
}

.grid-pull-5 {
  left: -400px;
}

.grid-pull-6 {
  left: -480px;
}

.grid-pull-7 {
  left: -560px;
}

.grid-pull-8 {
  left: -640px;
}

.grid-pull-9 {
  left: -720px;
}

.grid-pull-10 {
  left: -800px;
}

.grid-pull-11 {
  left: -880px;
}

@-webkit-keyframes pulse {
  0% {
    opacity: 1;
    width: 6px;
    height: 6px;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
  }

  100% {
    opacity: 0;
  }
}

@-moz-keyframes pulse {
  0% {
    opacity: 1;
    width: 6px;
    height: 6px;
  }

  50% {
    opacity: 0;
    -webkit-transform: scale(3);
    -moz-transform: scale(3);
  }

  100% {
    opacity: 0;
  }
}

.pulse {
  width: 20px;
  height: 20px;
  background: none;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  line-height: 16px;
  text-align: center;
}

.pulse > * {
  position: relative;
  border: 1px solid white;
  width: 6px;
  height: 6px;
  display: inline-block;
  vertical-align: middle;
  text-indent: -9000px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  -moz-transition-property: top bottom left right opacity border-width;
  -webkit-transition-property: top bottom left right opacity border-width;
  -o-transition-property: top bottom left right opacity border-width;
  transition-property: top bottom left right opacity border-width;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px;
  -webkit-animation-duration: 1.2s;
  -webkit-animation-name: pulse;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0, 0, 0, 1);
  -moz-animation-duration: 1.2s;
  -moz-animation-name: pulse;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: cubic-bezier(0, 0, 0, 1);
}

.pulse.dark > * {
  border-color: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
  -moz-box-shadow: 0 1px 2px rgba(255, 255, 255, 0.8);
}
.pulse:after {
  content: '';
  display: block;
  position: absolute;
  width: 6px;
  height: 6px;
  left: 7px;
  top: 7px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px;
  -o-box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px;
  box-shadow: rgba(0, 0, 0, 0.8) 0 1px 2px;
  background: rgba(255, 255, 255, 0.7);
  vertical-align: middle;
}
.pulse.dark:after {
  background: rgba(0, 0, 0, 0.5);
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  -o-box-shadow: none;
  box-shadow: none;
}

@font-face {
  font-family: "GraublauWeb";
  src: url('/base/fonts/graublau/GraublauWeb.otf') format('truetype');
}

.GraublauWeb {
  font-family: "GraublauWeb", Verdana, Arial, Helvetica, sans-serif;
}

@font-face {
  font-family: "GraublauWeb-Bold";
  src: url('/base/fonts/graublau/GraublauWebBold.otf') format('truetype');
}

.GraublauWeb-Bold {
  font-family: "GraublauWeb-Bold", Verdana, Arial, Helvetica, sans-serif;
}

body {
  background: fixed url('/base/images/linen.png?1319605862') repeat 0 0;
  padding: 40px 0;
}

#wrapper {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  background: white;
}

#wrapper-inner {
  font-family: Clean, "Helvetica Neue", Helvetica, arial, sans-serif;
  padding: 53.333px 80px;
}
#wrapper-inner:after {
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  border: 12px solid rgba(255, 255, 255, 0.1);
  content: "";
  position: absolute;
  top: -8px;
  bottom: -8px;
  left: -8px;
  right: -8px;
  z-index: -1;
}

header {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 30px;
  padding-bottom: 30px;
}
header h1 {
  position: relative;
  color: #353535;
  font-family: "GraublauWeb-Bold";
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 40px;
  text-transform: uppercase;
}
header h1 span {
  position: absolute;
  right: 0;
  bottom: 0;
  color: #888888;
  font-size: 14px;
  font-weight: normal;
}
header p {
  color: #666666;
  font-family: Clean, "Helvetica Neue", Helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 20px;
}
header p:last-child {
  margin-bottom: 0;
}

.canvas {
  font-size: 14px;
}

nav ul {
  list-style: disc;
}
nav ul li {
  line-height: 1.5;
}
nav ul a {
  color: #353535;
  text-decoration: none;
}
nav ul a:hover {
  text-decoration: underline;
}
