html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: "PFCentroSerifPro-Regular";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173799.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173799.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173799.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173799.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173799.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173799.svg) format('svg');
}

.PFCentroSerifPro-Regular {
  font-family: "PFCentroSerifPro-Regular", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-Italic";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173774.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173774.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173774.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173774.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173774.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173761.svg) format('svg');
}

.PFCentroSerifPro-Italic, body > header h2, [role="footer"] {
  font-family: "PFCentroSerifPro-Italic", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-Medium";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173689.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173689.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173689.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173689.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173689.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173689.svg) format('svg');
}

.PFCentroSerifPro-Medium, body > header h1 {
  font-family: "PFCentroSerifPro-Medium", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-MediumItalic";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173746.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173746.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173746.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173746.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173746.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173689.svg) format('svg');
}

.PFCentroSerifPro-MediumItalic {
  font-family: "PFCentroSerifPro-MediumItalic", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-Bold";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173761.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173761.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173761.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173761.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173761.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173761.svg) format('svg');
}

.PFCentroSerifPro-Bold {
  font-family: "PFCentroSerifPro-Bold", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-BoldItalic";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173782.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173782.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173782.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173782.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173782.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173782.svg) format('svg');
}

.PFCentroSerifPro-BoldItalic {
  font-family: "PFCentroSerifPro-BoldItalic", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-Black";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173757.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173757.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173757.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173757.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173757.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173757.svg) format('svg');
}

.PFCentroSerifPro-Black {
  font-family: "PFCentroSerifPro-Black", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-BlackItalic";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173688.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173688.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173688.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173688.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173688.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173688.svg) format('svg');
}

.PFCentroSerifPro-BlackItalic {
  font-family: "PFCentroSerifPro-BlackItalic", "Georgia", serif;
}

a {
  color: #ce4dd6;
  text-decoration: none;
}
a:hover {
  color: #d976e0;
  text-decoration: underline;
}
a:focus, a:active {
  outline: none;
}

pre {
  border-top: 1px dotted #dddddd;
  border-bottom: 1px dotted #dddddd;
  color: #333333;
  font-size: 15px;
  font-family: Monaco, "Andale Mono", "Lucida Console", monospace;
  line-height: 20px;
  padding: 20px 0;
  margin: 20px 0;
}
pre .hll {
  background-color: #333333;
}
pre .c {
  color: #b3b3b3;
}
pre .err {
  color: red;
  background: pink;
}
pre .k {
  color: #ba2dc3;
}
pre .cm {
  color: #b3b3b3;
}
pre .cp {
  color: #ba2dc3;
}
pre .c1 {
  color: #b3b3b3;
}
pre .cs {
  color: #b3b3b3;
}
pre .gd {
  color: #b3b3b3;
}
pre .ge {
  font-style: italic;
}
pre .gr {
  color: red;
}
pre .gh {
  color: #333333;
}
pre .gi {
  color: #333333;
  background-color: #ddffdd;
}
pre .go {
  color: #333333;
}
pre .gp {
  color: #333333;
}
pre .gs {
  font-weight: bold;
}
pre .gu {
  color: #333333;
}
pre .gt {
  color: #b3b3b3;
}
pre .kc, pre .kd, pre .kn {
  color: #ba2dc3;
}
pre .kp {
  color: #333333;
}
pre .kr {
  color: #333333;
}
pre .kt {
  color: #333333;
}
pre .m {
  color: #333333;
}
pre .s {
  color: #2dc3ba;
}
pre .n {
  color: #333333;
}
pre .na {
  color: #ba2dc3;
}
pre .nb {
  color: #333333;
}
pre .nc {
  color: #ba2dc3;
}
pre .no {
  color: #333333;
}
pre .nd {
  color: #ba2dc3;
}
pre .ne {
  color: #333333;
}
pre .nf {
  color: #ba2dc3;
}
pre .nl {
  color: #333333;
  font-style: italic;
}
pre .nn {
  color: #333333;
}
pre .nx {
  color: #333333;
}
pre .py {
  color: #333333;
}
pre .nt {
  color: #ba2dc3;
}
pre .nv {
  color: #333333;
}
pre .o {
  color: #333333;
}
pre .ow {
  color: #333333;
}
pre .w {
  color: #bbbbbb;
}
pre .mf, pre .mh, pre .mi, pre .mo {
  color: #333333;
}
pre .sb, pre .sc, pre .sd, pre .s2 {
  color: #2dc3ba;
}
pre .se {
  color: #2dc3ba;
}
pre .sh {
  color: #2dc3ba;
}
pre .si {
  color: #2dc3ba;
}
pre .sx {
  color: #2dc3ba;
}
pre .sr {
  color: #2dc3ba;
}
pre .s1 {
  color: #2dc3ba;
}
pre .ss {
  color: #2dc3ba;
}
pre .bp {
  color: #333333;
}
pre .vc {
  color: #333333;
}
pre .vg {
  color: #333333;
}
pre .vi {
  color: #333333;
}
pre .il {
  color: #333333;
}

body {
  border-top: 4px solid #a728ae;
}

body > header {
  position: relative;
  top: -4px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  background-image: url('../images/sass.gif?1311449942');
  background-repeat: no-repeat;
  background-position: 90px 14px;
  background-size: 170px;
  border-top: 4px solid #ce4dd6;
  border-bottom: 1px solid #fafafa;
  margin: 0 auto;
  margin-bottom: 50px;
  width: 960px;
  padding: 50px 0;
  padding-left: 320px;
}
body > header h1 {
  font-size: 70px;
  letter-spacing: -5px;
  margin-bottom: 20px;
}
body > header h1 a {
  color: black;
}
body > header h1 a:hover {
  color: black;
  text-decoration: none;
}
body > header h1 span.trade-mark {
  position: relative;
  top: -40px;
  left: -12px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
}
body > header h1 span.char1 {
  letter-spacing: 0;
}
body > header h1 span.char2 {
  letter-spacing: -6px;
}
body > header h1 span.char5 {
  letter-spacing: -2px;
}
body > header h1 span.char6 {
  letter-spacing: -4px;
}
body > header h1 span.char7 {
  letter-spacing: -3px;
}
body > header h1 span.char10 {
  letter-spacing: -9px;
}
body > header h1 span.char11 {
  letter-spacing: -5px;
}
body > header h2 {
  font-size: 16px;
}

[role="main"] {
  position: relative;
}

[role="sidebar"] {
  position: absolute;
  top: 0;
  left: -215px;
  text-align: right;
  width: 175px;
}
[role="sidebar"] > section {
  margin-bottom: 25px;
}
[role="sidebar"] h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
[role="sidebar"] ul li {
  line-height: 1.3;
}
[role="sidebar"] ul li ul {
  padding: 15px 0;
}

[role="main"], [role="footer"] {
  margin: 0 auto;
  width: 700px;
}

[role="footer"] {
  color: #545454;
  font-size: 13px;
  padding: 40px 0;
  padding-top: 300px;
}

.breadcrumbs {
  clear: both;
  display: none;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}

.pages {
  margin-top: 20px;
}
.pages li {
  margin-bottom: 40px;
}
.pages li:last-of-type {
  margin-bottom: 0;
}
.pages li h2 {
  font-size: 22px;
  margin-bottom: 15px;
}
.pages li p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 22px;
}
.pages .page-date {
  display: none;
}

.page-single {
  margin-top: 20px;
}
.page-single h1 {
  font-size: 22px;
  margin-bottom: 15px;
}
.page-single p {
  font-size: 14px;
  line-height: 1.5;
}
