@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

body {
  color: #333333;
  font-family: "Helvetica Neue", Arial, Clean, sans-serif;
  font-size: 120%;
  line-height: 1.4;
}

@font-face {
  font-family: "PFCentroSerifPro-Regular";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173799.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173799.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173799.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173799.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173799.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173799.svg) format('svg');
}

.PFCentroSerifPro-Regular, [role=main] .secondary .about-us h2 {
  font-family: "PFCentroSerifPro-Regular", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-Italic";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173774.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173774.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173774.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173774.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173774.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173761.svg) format('svg');
}

.PFCentroSerifPro-Italic, [role=banner] h2, [role=footer] {
  font-family: "PFCentroSerifPro-Italic", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-Medium";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173689.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173689.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173689.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173689.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173689.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173689.svg) format('svg');
}

.PFCentroSerifPro-Medium, [role=banner] h1, [role=main] .primary .post h1, [role=main] .primary .post h2, [role=main] .primary .post h3, [role=main] .secondary .find-us h3 {
  font-family: "PFCentroSerifPro-Medium", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-MediumItalic";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173746.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173746.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173746.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173746.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173746.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173689.svg) format('svg');
}

.PFCentroSerifPro-MediumItalic {
  font-family: "PFCentroSerifPro-MediumItalic", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-Bold";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173761.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173761.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173761.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173761.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173761.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173761.svg) format('svg');
}

.PFCentroSerifPro-Bold {
  font-family: "PFCentroSerifPro-Bold", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-BoldItalic";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173782.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173782.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173782.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173782.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173782.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173782.svg) format('svg');
}

.PFCentroSerifPro-BoldItalic {
  font-family: "PFCentroSerifPro-BoldItalic", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-Black";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173757.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173757.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173757.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173757.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173757.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173757.svg) format('svg');
}

.PFCentroSerifPro-Black {
  font-family: "PFCentroSerifPro-Black", "Georgia", serif;
}

@font-face {
  font-family: "PFCentroSerifPro-BlackItalic";
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173688.eot);
  src: url(/base/webfonts/pfcentroserifpro/eot/style_173688.eot?iefix) format('eot'), url(/base/webfonts/pfcentroserifpro/woff/style_173688.woff) format('woff'), url(/base/webfonts/pfcentroserifpro/otf/style_173688.otf) format('"opentype"'), url(/base/webfonts/pfcentroserifpro/ttf/style_173688.ttf) format('truetype'), url(/base/webfonts/pfcentroserifpro/svg/style_173688.svg) format('svg');
}

.PFCentroSerifPro-BlackItalic {
  font-family: "PFCentroSerifPro-BlackItalic", "Georgia", serif;
}

.links a, .content a, [role=offsite] a, [role=footer] a {
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #ce4dd6;
  text-decoration: none;
}
.links a:visited, .content a:visited, [role=offsite] a:visited, [role=footer] a:visited {
  color: #7a407d;
}
.links a:hover, .content a:hover, [role=offsite] a:hover, [role=footer] a:hover {
  color: #171717;
  background: #ffeeff;
}
.links a:focus, .content a:focus, [role=offsite] a:focus, [role=footer] a:focus, .links a:active, .content a:active, [role=offsite] a:active, [role=footer] a:active {
  outline: none;
}

.typography strong, .typography b {
  color: black;
  font-weight: bold;
}
.typography em, .typography i {
  font-style: italic;
}
.typography span.big {
  font-size: 115%;
}
.typography abbr, .typography acronym {
  border-bottom: 1px dotted #999999;
}
.typography sub, .typography sup {
  font-size: 85%;
}
.typography sub {
  vertical-align: sub;
}
.typography sup {
  vertical-align: super;
}
.typography span.caps {
  font-size: 95%;
}
.typography h1, .typography h2, .typography h3, .typography h4, .typography h5, .typography h6 {
  color: #111111;
  margin-top: 1em;
  margin-bottom: 0.5em;
}
.typography h1 {
  font-weight: bold;
  font-size: 400%;
  line-height: 0.98;
  margin-top: 0;
  padding-top: 0.45em;
  letter-spacing: -4px;
}
.typography h2 {
  font-weight: bold;
  font-size: 160%;
  line-height: 1.099;
}
.typography h3 {
  font-size: 160%;
  line-height: 1.169;
}
.typography h4 {
  font-weight: bold;
  font-size: 110%;
  line-height: 1.26;
}
.typography h5 {
  font-style: italic;
  font-size: 110%;
  line-height: 1.4;
}
.typography h1 span.small, .typography h2 span.small, .typography h3 span.small, .typography h4 span.small, .typography h5 span.small, .typography h6 span.small {
  color: #999999;
  font-weight: normal;
  font-size: 90%;
}
.typography h2 span.small {
  font-style: italic;
}
.typography p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}
.typography ul, .typography ol, .typography dl {
  margin-top: 1em;
  margin-bottom: 1em;
}
.typography ul, .typography ol, .typography dd {
  padding-left: 2.25em;
}
.typography ul {
  list-style: disc;
}
.typography ol {
  list-style: decimal;
}
.typography li {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.typography dt {
  margin-top: 1em;
}
.typography dd {
  margin-bottom: 1em;
}
.typography code, .typography kbd, .typography tt, .typography pre {
  font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", monospace;
  font-size: 85%;
}
.typography pre {
  line-height: 1.4;
  margin-top: 1em;
  margin-bottom: 1em;
}

.article .by-line {
  font-size: 120%;
  margin: -1em 0 1em;
  color: #ce4dd6;
}
.article .page-date {
  color: #999999;
}

.images img.right, .content img.right {
  float: right;
  margin: 0 0 1em 1em;
}
.images img.left, .content img.left {
  float: left;
  margin: 0 1em 1em 0;
}

.syntax .highlight, .content .highlight {
  margin-bottom: 1em;
}
.syntax pre, .content pre {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  color: #333333;
  border: 1px solid #e7e7e7;
  font-size: 14px;
  font-family: Menlo, Monaco, "Andale Mono", "Lucida Console", monospace;
  line-height: 1.2;
  padding: 1em;
}
.syntax pre .hll, .content pre .hll {
  background-color: #ffffcc;
}
.syntax pre .c, .content pre .c {
  color: #888888;
}
.syntax pre .err, .content pre .err {
  color: #a61717;
  background-color: #e3d2d2;
}
.syntax pre .k, .content pre .k {
  color: #008800;
}
.syntax pre .cm, .content pre .cm {
  color: #888888;
}
.syntax pre .cp, .content pre .cp {
  color: #cc0000;
}
.syntax pre .c1, .content pre .c1 {
  color: #888888;
}
.syntax pre .cs, .content pre .cs {
  color: #cc0000;
  background-color: #fff0f0;
}
.syntax pre .gd, .content pre .gd {
  color: black;
  background-color: #ffdddd;
}
.syntax pre .ge, .content pre .ge {
  font-style: italic;
}
.syntax pre .gr, .content pre .gr {
  color: #aa0000;
}
.syntax pre .gh, .content pre .gh {
  color: #303030;
}
.syntax pre .gi, .content pre .gi {
  color: black;
  background-color: #ddffdd;
}
.syntax pre .go, .content pre .go {
  color: #888888;
}
.syntax pre .gp, .content pre .gp {
  color: #555555;
}
.syntax pre .gu, .content pre .gu {
  color: #606060;
}
.syntax pre .gt, .content pre .gt {
  color: #aa0000;
}
.syntax pre .kc, .content pre .kc, .syntax pre .kd, .content pre .kd, .syntax pre .kn, .content pre .kn {
  color: #008800;
}
.syntax pre .kp, .content pre .kp {
  color: #008800;
}
.syntax pre .kr, .content pre .kr {
  color: #008800;
}
.syntax pre .kt, .content pre .kt {
  color: #888888;
}
.syntax pre .m, .content pre .m {
  color: #0000dd;
}
.syntax pre .s, .content pre .s {
  color: #dd2200;
  background-color: #fff0f0;
}
.syntax pre .na, .content pre .na {
  color: #336699;
}
.syntax pre .nb, .content pre .nb {
  color: #003388;
}
.syntax pre .nc, .content pre .nc {
  color: #bb0066;
}
.syntax pre .no, .content pre .no {
  color: #003366;
}
.syntax pre .nd, .content pre .nd {
  color: #555555;
}
.syntax pre .ne, .content pre .ne {
  color: #bb0066;
}
.syntax pre .nf, .content pre .nf {
  color: #0066bb;
}
.syntax pre .nl, .content pre .nl {
  color: #336699;
  font-style: italic;
}
.syntax pre .nn, .content pre .nn {
  color: #bb0066;
}
.syntax pre .py, .content pre .py {
  color: #336699;
}
.syntax pre .nt, .content pre .nt {
  color: #bb0066;
}
.syntax pre .nv, .content pre .nv {
  color: #336699;
}
.syntax pre .ow, .content pre .ow {
  color: #008800;
}
.syntax pre .w, .content pre .w {
  color: #bbbbbb;
}
.syntax pre .mf, .content pre .mf, .syntax pre .mh, .content pre .mh, .syntax pre .mi, .content pre .mi, .syntax pre .mo, .content pre .mo {
  color: #0000dd;
}
.syntax pre .sb, .content pre .sb, .syntax pre .sc, .content pre .sc, .syntax pre .sd, .content pre .sd, .syntax pre .s2, .content pre .s2 {
  color: #dd2200;
  background-color: #fff0f0;
}
.syntax pre .se, .content pre .se {
  color: #0044dd;
  background-color: #fff0f0;
}
.syntax pre .sh, .content pre .sh {
  color: #dd2200;
  background-color: #fff0f0;
}
.syntax pre .si, .content pre .si {
  color: #3333bb;
  background-color: #fff0f0;
}
.syntax pre .sx, .content pre .sx {
  color: #22bb22;
  background-color: #f0fff0;
}
.syntax pre .sr, .content pre .sr {
  color: #008800;
  background-color: #fff0ff;
}
.syntax pre .s1, .content pre .s1 {
  color: #dd2200;
  background-color: #fff0f0;
}
.syntax pre .ss, .content pre .ss {
  color: #aa6600;
  background-color: #fff0f0;
}
.syntax pre .bp, .content pre .bp {
  color: #003388;
}
.syntax pre .vc, .content pre .vc {
  color: #336699;
}
.syntax pre .vg, .content pre .vg {
  color: #dd7700;
}
.syntax pre .vi, .content pre .vi {
  color: #3333bb;
}
.syntax pre .il, .content pre .il {
  color: #0000dd;
}

body {
  border-top: 4px solid #a728ae;
}

.full-width, [role=offsite] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto;
  width: 960px;
}

[role=offsite] {
  display: none;
  border-top: 4px solid #ce4dd6;
  position: relative;
  top: -4px;
}
[role=offsite] ul {
  text-align: right;
  padding: 1em 0;
}
[role=offsite] li {
  display: inline;
  margin-left: 1em;
}
[role=offsite] a:after {
  content: " ⇢";
}

[role=banner] {
  width: 100%;
}
[role=banner] .max-width {
  *zoom: 1;
  margin: 0 auto;
  min-width: 700px;
  max-width: 900px;
  padding: 30px;
}
[role=banner] .max-width:after {
  content: "";
  display: table;
  clear: both;
}
[role=banner] .max-width {
  padding-top: 50px;
  padding-bottom: 50px;
}
[role=banner] h1 {
  font-size: 70px;
  letter-spacing: -5px;
  line-height: 1;
  margin-bottom: 10px;
}
[role=banner] h1 a {
  color: black;
  text-decoration: none;
}
[role=banner] h1 span.trade-mark {
  position: relative;
  top: -40px;
  left: -10px;
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 12px;
}
[role=banner] h1 span.char1 {
  letter-spacing: -1px;
}
[role=banner] h1 span.char2 {
  letter-spacing: -6px;
}
[role=banner] h1 span.char5 {
  letter-spacing: -3px;
}
[role=banner] h1 span.char6 {
  letter-spacing: -4px;
}
[role=banner] h1 span.char7 {
  letter-spacing: -3px;
}
[role=banner] h1 span.char10 {
  letter-spacing: -9px;
}
[role=banner] h1 span.char11 {
  letter-spacing: -5px;
}
[role=banner] h2 {
  font-size: 18px;
}

[role=main] {
  width: 100%;
}
[role=main] .max-width {
  *zoom: 1;
  margin: 0 auto;
  min-width: 700px;
  max-width: 900px;
  padding: 30px;
}
[role=main] .max-width:after {
  content: "";
  display: table;
  clear: both;
}
[role=main] .padding {
  *zoom: 1;
  padding-right: 267px;
  width: auto;
}
[role=main] .padding:after {
  content: "";
  display: table;
  clear: both;
}
[role=main] .column {
  position: relative;
  display: inline;
  float: left;
}
[role=main] .column.primary {
  width: 100%;
}
[role=main] .column.secondary {
  margin-right: -267px;
  width: 267px;
}
[role=main] .primary {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 30px;
}
[role=main] .primary .post {
  margin-bottom: 30px;
}
[role=main] .primary .post .page-date {
  display: none;
}
[role=main] .primary .post h1 {
  font-size: 30px;
  line-height: 1.1;
  margin-bottom: 30px;
}
[role=main] .primary .post h1 a {
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #171717;
  text-decoration: none;
}
[role=main] .primary .post h1 a:hover {
  background: #ffeeff;
}
[role=main] .primary .post h2 {
  font-size: 22px;
  line-height: 1.3;
  margin-top: 40px;
  margin-bottom: 10px;
}
[role=main] .primary .post h2:first-of-type {
  margin-top: 0;
}
[role=main] .primary .post h2 a {
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #171717;
  text-decoration: none;
}
[role=main] .primary .post h2 a:hover {
  background: #ffeeff;
}
[role=main] .primary .post h3 {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 5px;
}
[role=main] .primary .post p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 25px;
}
[role=main] .primary .post p:last-of-type {
  margin-bottom: 0;
}
[role=main] .secondary .find-us {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  *zoom: 1;
  -moz-transition-property: background;
  -webkit-transition-property: background;
  -o-transition-property: background;
  transition-property: background;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  background: #fff8ff;
  padding: 20px;
  padding-right: 0;
}
[role=main] .secondary .find-us:hover {
  background: #ffeeff;
}
[role=main] .secondary .find-us img {
  display: inline;
  float: left;
  margin-right: 15px;
}
[role=main] .secondary .find-us h3 {
  font-size: 18px;
  letter-spacing: -0.5px;
  margin-bottom: 2px;
}
[role=main] .secondary .find-us h3, [role=main] .secondary .find-us ul {
  margin-left: 100px;
}
[role=main] .secondary .find-us ul li {
  font-size: 13px;
  margin-bottom: 2px;
}
[role=main] .secondary .find-us ul li a {
  position: relative;
  left: -2px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #ce4dd6;
  display: inline-block;
  padding: 1px 4px;
  text-decoration: none;
}
[role=main] .secondary .find-us ul li a:hover {
  background: white;
  color: #ce4dd6;
}
[role=main] .secondary .about-us {
  font-size: 14px;
  line-height: 1.5;
  margin-top: 15px;
}
[role=main] .secondary .about-us p, [role=main] .secondary .about-us ol, [role=main] .secondary .about-us ul {
  margin-bottom: 8px;
}
[role=main] .secondary .about-us p:last-child, [role=main] .secondary .about-us ol:last-child, [role=main] .secondary .about-us ul:last-child {
  margin-bottom: 0;
}
[role=main] .secondary .about-us p em, [role=main] .secondary .about-us ol em, [role=main] .secondary .about-us ul em {
  font-style: oblique;
}
[role=main] .secondary .about-us li {
  color: #878787;
}
[role=main] .secondary .about-us li em {
  font-size: 11px;
}
[role=main] .secondary .about-us h2 {
  font-size: 16px;
  line-height: 1.2;
  margin-top: 25px;
}
[role=main] .secondary .about-us a {
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #ce4dd6;
  display: inline-block;
  padding: 1px;
  text-decoration: none;
}
[role=main] .secondary .about-us a:hover {
  background: #ffeeff;
  color: #171717;
}

[role=footer] {
  width: 100%;
  color: #545454;
  font-size: 13px;
}
[role=footer] .max-width {
  *zoom: 1;
  margin: 0 auto;
  min-width: 700px;
  max-width: 900px;
  padding: 30px;
}
[role=footer] .max-width:after {
  content: "";
  display: table;
  clear: both;
}

.breadcrumbs {
  clear: both;
  display: none;
}
.breadcrumbs li {
  display: inline-block;
  margin-right: 10px;
}

.pages {
  margin-top: 20px;
}
.pages li {
  margin-bottom: 40px;
}
.pages li:last-of-type {
  margin-bottom: 0;
}
.pages li h2 {
  font-size: 22px;
  margin-bottom: 15px;
}
.pages li p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 22px;
}
.pages .page-date {
  display: none;
}

#fusion_ad {
  margin-top: 50px;
}
#fusion_ad a.fusiontext, #fusion_ad a.powered-by-fusion {
  position: relative;
  left: -4px;
  -moz-transition-property: all;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -moz-transition-duration: 0.5s;
  -webkit-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  color: #171717;
  display: inline-block;
  font-weight: normal;
  font-size: 13px;
  line-height: 1.5;
  padding: 1px 4px;
  text-decoration: none;
}
#fusion_ad a.fusiontext:hover, #fusion_ad a.powered-by-fusion:hover {
  background: #ffeeff;
  color: black;
}
#fusion_ad a.fusiontext {
  width: 160px;
}
#fusion_ad a.powered-by-fusion {
  margin-top: 12px;
}
#fusion_ad .uppercase {
  text-transform: uppercase;
}
