Title: Sass Labs
Layout: layout_labs
Template: template_labs

.grid-container
  #wrapper.grid-8.grid-prefix-2.grid-suffix-2
    #wrapper-inner
      %header
        %h1
          Sass Labs
        
        %p In the Sass Lab we will play with new CSS and Sass features, showcase code, and share.
      
      %nav
        %ul
          %li
            %a(href="/labs/pulse") Pulse