%h1 Submit a tip!

%h1 Submit a tip!

%p Got an awesome tip you'd like to share?

%p Let us know here and we'll use it on the site or in our Twitter feed. Please cite your sources if you learned it from a blog post, etc. so we can properly link to it.

:javascript
  var host = (("https:" == document.location.protocol) ? "https://secure." : "http://");document.write(unescape("%3Cscript src='" + host + "wufoo.com/scripts/embed/form.js' type='text/javascript'%3E%3C/script%3E"));

:javascript
  var z7x3k7 = new WufooForm();
  z7x3k7.initialize({
  'userName':'thesassway', 
  'formHash':'z7x3k7', 
  'autoResize':true,
  'height':'574',
  'header':'show', 
  'ssl':true});
  z7x3k7.display();