---
title: The Sass Way
layout: layout
---

<div class="hero">
  <h1><%= image_tag "thesassway.svg", class: "text-middle", alt: "The Sass Way" %></h1>
</div>

<%= partial 'layouts/summaries', :locals => { :pages => articles[0..8] } %>
